/*Content First - Mobile First*/
    /*General Rules*/
        *{
            box-sizing: border-box;
            font-family: 'segoe ui', 'calibri', sans-serif;
        }
        body,
        h1,
        h2,
        h3,
        header p,
        .menu{
            margin: 0;
        }
    /*Navegacion*/
        nav{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            background: linear-gradient(to right, #63c, #c36);
        }
        nav a{
            display: block;
            padding: .5rem;
            color:#eee;
            text-decoration: none;
        }
        .btn{
            margin: .5rem;
            border: .1rem solid #eee;
            color:#eee;
            background-color: transparent;
        }
        .btn:hover{
            color:#63c;
            background-color: #eee;
        }
        .menu{
            width: 100%;
            padding: 0;
            list-style: none;
        }
        .menu a:hover{
            background-color: #3338;
        }